<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.ssm.tmall.mapper.PropertyMapper">
  <resultMap id="BaseResultMap" type="com.ssm.tmall.entity.Property">
    <id column="propertyId" jdbcType="INTEGER" property="propertyId" />
    <result column="categoryId" jdbcType="INTEGER" property="categoryId" />
    <result column="propertyName" jdbcType="VARCHAR" property="propertyName" />
  </resultMap>
  <sql id="Example_Where_Clause">
    <where>
      <foreach collection="oredCriteria" item="criteria" separator="or">
        <if test="criteria.valid">
          <trim prefix="(" prefixOverrides="and" suffix=")">
            <foreach collection="criteria.criteria" item="criterion">
              <choose>
                <when test="criterion.noValue">
                  and ${criterion.condition}
                </when>
                <when test="criterion.singleValue">
                  and ${criterion.condition} #{criterion.value}
                </when>
                <when test="criterion.betweenValue">
                  and ${criterion.condition} #{criterion.value} and #{criterion.secondValue}
                </when>
                <when test="criterion.listValue">
                  and ${criterion.condition}
                  <foreach close=")" collection="criterion.value" item="listItem" open="(" separator=",">
                    #{listItem}
                  </foreach>
                </when>
              </choose>
            </foreach>
          </trim>
        </if>
      </foreach>
    </where>
  </sql>
  <sql id="Base_Column_List">
    propertyId, categoryId, propertyName
  </sql>
  <select id="selectByExample" parameterType="com.ssm.tmall.entity.PropertyExample" resultMap="BaseResultMap">
    select
    <if test="distinct">
      distinct
    </if>
    'false' as QUERYID,
    <include refid="Base_Column_List" />
    from property
    <if test="_parameter != null">
      <include refid="Example_Where_Clause" />
    </if>
    <if test="orderByClause != null">
      order by ${orderByClause}
    </if>
  </select>
  <select id="selectByPrimaryKey" parameterType="java.lang.Integer" resultMap="BaseResultMap">
    select 
    <include refid="Base_Column_List" />
    from property
    where propertyId = #{propertyId,jdbcType=INTEGER}
  </select>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.Integer">
    delete from property
    where propertyId = #{propertyId,jdbcType=INTEGER}
  </delete>
  <insert id="insert" keyColumn="propertyId" keyProperty="propertyId" parameterType="com.ssm.tmall.entity.Property" useGeneratedKeys="true">
    insert into property (categoryId, propertyName)
    values (#{categoryId,jdbcType=INTEGER}, #{propertyName,jdbcType=VARCHAR})
  </insert>
  <insert id="insertSelective" keyColumn="propertyId" keyProperty="propertyId" parameterType="com.ssm.tmall.entity.Property" useGeneratedKeys="true">
    insert into property
    <trim prefix="(" suffix=")" suffixOverrides=",">
      <if test="categoryId != null">
        categoryId,
      </if>
      <if test="propertyName != null">
        propertyName,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides=",">
      <if test="categoryId != null">
        #{categoryId,jdbcType=INTEGER},
      </if>
      <if test="propertyName != null">
        #{propertyName,jdbcType=VARCHAR},
      </if>
    </trim>
  </insert>
  <update id="updateByPrimaryKeySelective" parameterType="com.ssm.tmall.entity.Property">
    update property
    <set>
      <if test="categoryId != null">
        categoryId = #{categoryId,jdbcType=INTEGER},
      </if>
      <if test="propertyName != null">
        propertyName = #{propertyName,jdbcType=VARCHAR},
      </if>
    </set>
    where propertyId = #{propertyId,jdbcType=INTEGER}
  </update>
  <update id="updateByPrimaryKey" parameterType="com.ssm.tmall.entity.Property">
    update property
    set categoryId = #{categoryId,jdbcType=INTEGER},
      propertyName = #{propertyName,jdbcType=VARCHAR}
    where propertyId = #{propertyId,jdbcType=INTEGER}
  </update>
</mapper>